.application-card {
    padding: 10px 20px;
    list-style: none;
}

.application-individual-card {
    padding: 15px;
    border: 1px solid lightgray;
    margin: 20px auto;
    max-width: 350px;
}

.main-card {
    padding: 40px;
}